/* styles.css */
:root {
  --body-primary-color: #0f0c29;
  --body-secondary-color: #302b63;
  --body-tertiary-color: #24243e;
  --body-font-family: 'Arial', sans-serif;
  --body-height: 100vh;
  --body-margin-top: 3rem;
  --body-h1-font-size: 3rem;
  --body-h1-text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  --body-disabled-opacity: 0.6;
  --body-min-height: 430px;
  --button-primary-color: #ff6f61;
  --button-secondary-color: #ff3d2e;
  --button-control-color: grey;
  --button-text-color: #fff;
  --button-padding: 15px 30px;
  --button-font-size: 1rem;
  --button-border-radius: 5px;
  --button-box-shadow-primary: 0 0 20px rgba(255, 111, 97, 0.5);
  --button-box-shadow-secondary: 0 0 20px rgba(131, 131, 131, 0.5);
  --margin-top: 20px;
  --button-margin: 10px;
  --button-height: 100px;
  --ttt-container-padding: 40px;
  --ttt-container-height: 500px;
  --ttt-tablero-width: 310px;
  --ttt-tablero-margin-top: 40px;
  --ttt-casilla-size: 100px;
  --ttt-casilla-font-size: 120px;
  --ttt-border-size: 2px;
  --player-font-size: 3rem;
  --player-color: white;
  --wam-hole-size: 100px;
  --wam-mole-size: 80px;
  --wam-gap-size: 10px;
  --wam-border-radius: 30px;
  --wam-font-size: 24px;
  --wam-margin-top: 50px;
  --wam-color-white: white;
  --wam-background-color: rgba(0, 0, 0, 0.8);
  --wam-padding: 20px;
  --wam-border-radius-message: 10px;
  --wam-font-size-message: 24px;
  --wam-controls-gap: 20px;
  --wam-controls-margin-top: 20px;
  --mg-font-family: Arial, sans-serif;
  --mg-card-size: 120px;
  --mg-grid-gap: 15px;
  --mg-border-radius: 5px;
  --mg-transition-duration: 0.5s;
  --mg-margin: 30px;
  --mg-font-size: 1.5rem;
}
